{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold slide-left">Contact Us</h2>
<p class="mt-2">Have feedback or need help? Send a message.</p>

<div class="card shadow p-4 mt-3 fade-in" style="margin-bottom:280px">

    <form>
        <div class="mb-3">
            <label class="form-label">Your Name</label>
            <input type="text" class="form-control" placeholder="Enter your name">
        </div>

        <div class="mb-3">
            <label class="form-label">Your Email</label>
            <input type="email" class="form-control" placeholder="Enter your email">
        </div>

        <div class="mb-3">
            <label class="form-label">Your Message</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>

        <button class="btn btn-success glow-btn">Send Message</button>
    </form>

</div>

{% endblock %}
